{% extends "base.html" %}
{% block start %}
    <h1 class="text-primary text-center mt-4">Tiger Park Limited</h1>
    <hr>
    <p class="text-center fw-bold text-warning-emphasis">Data from databse dinamacly</p>
    <div class="container">
    </div>
    <div class="container">
      <div class="d-flex justify-content-md-end mb-4 gap-4">
          <a href="/export-pdf" class="btn btn-info">Export PDF</a>
          <a href="/add/student" class="btn btn-success">Add Employee</a>
        </div>
    </div>
<div class="container">
    
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                  <th scope="col">SI No.</th>
                  <th scope="col">Name</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Mobile</th>
                  <th scope="col">Address</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for employee in employees %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{employee.employee_name}}</td>
                    <td>{{employee.employee_email}}</td>
                    <td>{{employee.employee_phone}}</td>
                    <td>{{employee.employee_address}}</td>
                    <td class="text-center">
                      <a class="btn btn-danger" href="">Delete</a>
                      <a class="btn btn-success" href="">Edit</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
</div>
    
 {% endblock %}